*{
    margin: 0;
    padding: 0;
}
#address {
    font-size: 1.1rem;
    /*margin-top: -1em;*/
    margin-bottom: 3rem;
}

.entry {
    width: 1160px;
}
.left {
    text-align: left;
    width: 16%;
}
.center {
    text-align: left;
}
.right {
    text-align: right;
}

body {
    font-family: Calibri, sans-serif;
    background-color: #f0f0f0;
    margin-left: 4rem;
}

h1 {
    font-size: 4rem;
    margin-top: 3rem;
}

h2 {
    width: 1200px;
    padding-bottom: 0.2rem;
    border-bottom: 5px solid #86265c;
    font-size: 1.8rem;
    margin-top: 2.2rem;
    margin-bottom: 1.8rem;
}

h3 {
    margin-left: 1rem;
    margin-top: 0.8rem;
    margin-bottom: 0.3rem;
}

ul {
    font-size: 1.1rem;
    margin-left: 2rem;
}
