*{
    font-family: Calibri, sans-serif;
}

#address {
    font-size: 1rem;
    text-indent: 1rem;
    margin-top: -1em;
    margin-bottom: 6em;
}

body {
    background-color: #f0f0f0;
}

h1 {
    font-size: 4rem;
    text-indent: 1rem;
}

h2 {
    font-size: 1.8rem;
    text-indent: 1rem;
}

h3 {
    text-indent: 3rem;
}

ul {
    margin-left: 1.8rem;
}
